---

---

@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

body {
	background-color: #a3aab5;
	font-family: 'Bungee';
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

@media (max-width: 800px) {
	body {
		color: red;
	}
}