---

---

@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

body {
	background-color: #a3aab5;
	font-family: 'Bungee';
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

h1 {
	all: unset;
	font-size: 3em;
}

p {
	all: unset;
	font-size: 3em;
}

span {
	all: unset;
	font-size: 2em;
}

header {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 7.5%;
	border-bottom: solid 2.5px white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	h1 {
		padding-left: 1em;
	}
}
section {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 82.5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	p {
		color: #991111;
		font-size: 6em;
		text-align: center;
	}
}
footer {
	margin: 0px;
	margin-top: auto;
	padding: 0px;
	width: 100%;
	height: 10%;
	border-top: solid 2.5px white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	span {
		text-align: center;
		width: 100%;
	}
}
@media only screen and (min-device-width: 480px) {
}