<!DOCTYPE html>
<!DOCTYPE html>
<html>
	<head>
		<!-- METADATA -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="/assets/css/styles.css"/>
		<title>{{ page.title }} | tech illustrated</title>
	</head>
	<body>
		<div id = "body">
			<div id = "header">
				<h1>tech illustrated</h1>
			</div>
			<div id = "content">
				{{ content }}
			</div>
		</div>
		<div id = "sidebar">
				<span>tech illustrated</span>
		</div>
	</body>
</html>